<h1>投稿詳細ページ</h1>
<h3><%= @topic.user.email %></h3>
<h3><%= @topic.content %></h3>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= @topic.user.id %>"><%= c.user.email %></a>
    <%= c.content %>
    <hr>
  </div>
<% end %>

<%= form_for [@topic, @comment] do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :topic_id, :value => @topic.id %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<%= link_to "ホームへ戻る", topics_path %>
